@import 'assets/scss/app.scss';

.a {
    color: $primary-color;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
        color: $primary-color;
    }
}

.border-none {
    border-style: none !important;
}

.box-log {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: gray;
    width: 100%;
    min-height: 50px;
    padding: 5px;
    background-color: #DDD;
    color: #313131;
}